///////////////////////////////////////////////////////////////
// A policy file is needed by the RMISecurityManager and your application might
// not work after installing the RMISecurityManager unless you provide a 
// security policy file at launch.
//
// You can configure the security policy of a launched application using either
// the RMI Launcher or by manually setting the java.security.policy property.
//
// SECURITY NOTE: This security policy is good for development. For deployment
// you may need a stricter security policy.
//
// For more information see:
//    http://java.sun.com/docs/books/tutorial/rmi/running.html
//    http://java.sun.com/j2se/1.5.0/docs/guide/security/PolicyFiles.html
// 

grant {
	// We DO NOT WANT to grant full access permission ANY MORE!
	// permission java.security.AllPermission;

	// These are required to access remote code with RMI.
	// To debug place "-Djava.security.debug=access" to java.opts file in the folder from where
	// Matlab is started. See "Security Debugging": http://oreilly.com/catalog/javasec2/chapter/ch01.html#30999
	// for more details.
	permission java.lang.RuntimePermission "getClassLoader";
	permission java.lang.RuntimePermission "createClassLoader";
	permission java.util.PropertyPermission "java.rmi.server.codebase", "read";

	// This is required for the second (and following) jpar_* invocations to work (?!).
	// -- the following can be used with hardcoded path
	// permission java.io.FilePermission "/home/ptroja/STUDIES/jpar/jpar.jar", "read";
	// -- the following grants access to all the files; this seems to be OK, becasue
	//    because you can access them from Matlab anyway...
	permission java.io.FilePermission "<<ALL FILES>>", "read";

	// Network access permissions, see: http://www.davidreilly.com/java/java_network_programming/#4.5
	// This allow you to accept conections from ports higher than 1024, but connect to all ports (i.e. DNS) as a client.
	permission java.net.SocketPermission "*:1024-", "connect,accept,resolve";
	permission java.net.SocketPermission "*:1-1023", "connect,resolve";
};
